/*about*/
.section-group{
	background:#fcfcfc url('../img/bg/bg-large.jpg') 100% top no-repeat;
	background-size: cover;
} 
.about{
	padding-top: 7.125em;
	.block-title{
		margin-bottom: 5em;
		line-height: 1.2;
	}
}
.about-list{
	li{
		width: 50%;
		min-height: 26.875em;
	}
}
.about__item {
	height: 100%;
	font-size: 1rem;
	padding: 2.5em;
	background-color: #fff;
	&--blue{
		background-color: #2487ae;
		color: #fff;
	}
}

.about__item__top{
	margin-bottom: 2em;
	.ico{
		flex: none;
		width: auto;
		height: auto;
		margin-right: 1.5em;
		img{
			width: auto;
			height: 4.5em;
		}
	}
}
.about__item__title{
	font-family: var(--pfbeausans-book);
	font-size: 1.875em;
	line-height: 1.2;
	padding-top: .3em;
}
.about__item__text{
	font-size: 1.125em;
	line-height: 1.66;
	font-weight: 300;
}


.license{
	padding-top: 5.135em;
	.block-title{
		margin-bottom: 5em;
	}
}
.about-license{

}
.license__item{
	width: 25%;
	position: relative;
	font-family: var(--pfbeausans-book);
	padding-bottom: 2.5em;
	margin-bottom: 2.5em;
	font-size: 1rem;
	line-height: 1.4;
	.blue{
		display: block;
		font-size: 2.66em;
		line-height: 1.2;
	}
	.line{
		position: absolute;
		max-width: none;
		&-1{
			bottom: 1.5em;
			left: 3.5em;
			transform: translateX(-50%);
			width: 32em;
		}
		&-2{
			bottom: -9.2em;
			width: 26em;
			left: -12em;
		}
		&-3{
			width: 22em;
			bottom: 1em;
			right: -6.5em;
		}
		&-4{
			width: 22em;
			bottom: 1em;
			right: -9em;
		}
	}
}
.license__item__descr{
	font-size: 1.125em;
}

.review{
	.block-title{
		margin-bottom: 5em;
	}
}
.review-content{
}
.review-row{
	margin: 0 -1em;	
	width: 100%;
	margin-bottom: 3em;
}
.review-body{
	width: 25%;
	padding: 0 1em;
}
.review__item{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 27.5em;
	background:transparent url('../img/White_Frame.png') center top no-repeat;
	box-shadow: 0 10px 20px -5px rgba(#000, .25);
	img{
		width: 17.125em;
		height: 24.375em;
	}
	&:hover{
		box-shadow: 0 25px 30px -15px rgba(#000, .35);
	}
}

.more{
	display: inline-block;
	font-size: 1.125em;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 5px;
	border: 1px solid var(--black);
	padding: 1.44em 1.44em 1.2em;
	min-width: 22.77em;
	text-align: center;
	margin-bottom: 3em;
	&:hover{
		background-color: var(--blue);
		color: #fff;
		border-color: var(--blue);
	}
}





















