/*features*/ 
.features-section{
	background-color: #fff;
	padding: 5em 0 7.5em;
	.block-title{
		transform: translateX(.5em);
		margin-bottom: 5em;
	}
}
.features-section-list{
	width: 100%;
	padding: 0 20px;
	max-width: 1320px;
	margin: 0 auto;
	li{
		width: 25%;
		position: relative;
		margin-bottom: 2.5em;
		&:first-child{
			&::before{
				content: '';
				width: 9em;
				height: 10.1875em;
				background:transparent url('../img/bg/line-left.png') left top no-repeat;
				background-size: contain;
				position: absolute;
				left: -1.5em;
				bottom: 2.9em;
			}
			.features-section-ico-wrapper{
				position: relative;
				&::before{
					border-color: transparent;
				}
			}
		}
		&:last-child{
			&::before{
				content: '';
				width: 9em;
				height: 10.1875em;
				background:transparent url('../img/bg/line-right.png') left top no-repeat;
				background-size: contain;
				position: absolute;
				right: -1.5em;
				bottom: 2.9em;
			}
			.features-section-ico-wrapper{
				position: relative;
				&::after{
					border-color: transparent;
				}
			}
		}
	}
}
.features-section__item{
}
.features-section__top{
	background:  url('../img/icons/blue-arrow.png') left top no-repeat;
	background-size: contain;
	color: #fff;
	height: 6.375em;
	position: relative;
	padding-left: 5.0625em;
	padding-right: 2.5em;
	margin-bottom: 1.5em;
	&::after{
		content: '';
		width: 6.375em;
		height: 6.375em;
		background:transparent url('../img/icons/arrow-green.png') left top no-repeat;
		background-size: contain;
		position: absolute;
		right: -3em;
		top: 0;
		z-index: 1;
	}
}
.features-section__top__text{
	font-family: var(--pfbeausans-book);
	font-size: 1.25em;
	line-height: 1.3;
}
.features-section__top__count{
	font-family: var(--pfbeausans-book);
	font-size: 2.25em;
	width: 1.833em;
	height: 1.833em;
	flex: none;
	border-radius: 50%;
	border: 2px dashed #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.features-section__text{
	width: 90%;
	padding-left: 1em;
	font-family: var(--pfbeausans-book);
	font-size: 1.125em;
	line-height: 1.6;
	height: 8em;
	margin-bottom: 1.2em;
}
.features-section__ico{
	flex: none;
	width: 5.9375em;
	height: 5.9375em;
	border-radius: 50%;
	border: 2px dashed #129968;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 10px;
	img{
		max-width: 100%;
		width: 60%;
		transform: translate(.2em, .2em);
	}
	
}
.features-section-ico-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 2px;
	&::before,
	&::after{
		content: '';
		flex-grow: 1;
		height: 1px;
		border-bottom: 2px dashed #129968;
	}
	
}


.features-section-notice{
	max-width: 62.25em;
	margin: 0 auto;
	padding: 2em ;
	border-radius: 60px;
	border: 2px dashed #129968;
	.h4, .h5{
		width: 90%;
		margin: 0 auto;
		line-height: 1.4;
		text-align: center;
	}
	.h4{
		margin-bottom: .3em;
	}
}