/*media*/ 
@media(max-width: 1700px){
	.garantee{
		font-size: .9rem;
	}
	.book{
		left: -3em;
		top: 2em;
	}
	.book__descr{
		width: 36em;
		bottom: 7.5em;
	}
}
@media(max-width: 1600px){
	html{
		font-size: 1vw;
	}
	.main-screen__features__item{
		width: 28em;
		height: 9em;
	}
	.book{
		left: 1em;
		top: 6em;
	}
	.features-section__top{
		padding-left: 4em;
		padding-right: 4em;
	}
}
/*1600*/ 
@media(max-width: 1450px){
	.features-section__top::after{
		
		right: -2.5em;
	}
	.features-section-list{
		padding: 0 50px;
	}
}
/*1450*/
@media(max-width: 1360px){
	.main-screen{
		height: auto;
		padding: 12em 0;
	}
	.menu-btn .text{
		font-size: 12px;
	}
	.header__contact a{
		pointer-events: auto;
	}
	.header-fixed .header{
		position: relative;
		background-color: transparent;
	}
	.noscroll{
		padding-right: 0;
		.header{
			padding-right: 0;
		}
	}
	.price-table{
		font-size: 1.25rem;
	}
	.price-tab-list li a{
		font-size: 1.4rem;
	}
	.sale-block__descr{
		width: 30em;
	}
	.form{
		width: 46.5em;
	}
	.features-section-list{
		padding: 0 30px;
	}
	.features-section .block-title{
		transform: translateX(0);
		br{
			display: none;
		}
	}
	.total__descr{
		width: calc(100% - 48em)
	}
}
/*1360*/ 
@media(max-width: 1023px){
	.sale-block{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.sale-block__descr,
	.form,
	.timer,
	.timer-container__title{
		width: 100%;
	}
	.form{
		max-width: 560px;
		margin: 0 auto;
	}
	.timer-container{
		position: relative;
		font-size: 16px;
		background-color: transparent;
	}
	.sale-block__descr{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.sale-block__title,
	.form__title,
	.timer-container__title{
		font-size: 24px;
		text-align: center;
	}
	.sale-block__item{
		font-size: 16px;
	}
	.sale .block-title{
		transform: translateX(0);
	}
	.sale-block-container{
		box-shadow: none;
	}
	.timer_section > div:not(.timer_section_desc){
		font-size: 24px;
	}
	.timer_section > .timer_section_desc{
		font-size: 14px;
	}
	.sale{
		padding-bottom: 20px;
	}
	.timer_delimetr{
		font-size: 30px;
	}
	.form-content .btn{
		font-size: 16px;
	}
	.total__descr .man-2{
		display: none;
	}
	.total__descr{
		width: 100%;
		position: relative;
		margin-bottom: 3.5em;

	}
	.total__descr__item{
		position: relative;
		top: 0;
		left: 0;
		font-size: 1.4rem;
		margin-left: auto;
		margin-right: auto;
	}
	.total .form__title{
		font-size: 2.4em;
	}
	.form__subtitle{
		font-size: 1.5em;
	}
	.blue-link,
	.address,
	.footer__phone,
	.webmaster{
		font-size: 1.2em;
	}
	.footer{
		.container{
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	.webmaster{
		display: flex;
		justify-content: center;
		font-size: 12px;
		margin-top: 30px;
	}
	.footer__phone{
		margin-right: 0;
	}
}
/*1023*/ 

@media(max-width: 768px){
	html{
		font-size: 1.2vw;
	}
	.header .site-title,
	.callback .text,
	.main-screen__descr .btn-lg-container,
	.main-screen__descr .h4,
	.btn-lg-container .decor, 
	.man,
	.block-title__counter,
	.sale-block-container::before,
	.features-section-list li:first-child::before,
	.features-section-list li:last-child::before,
	.features-section-ico-wrapper::before, 
	.features-section-ico-wrapper::after{
		display: none;
	}
	.callback{
		width: 54px;
		height: 54px;
		display: flex;
		justify-content: center;
		padding: 0;
		.ico{
			margin-right: 0;
			width: 17px;
			height: 17px;
		}
	}
	.menu-btn{
		margin-left: 30px;
		.text{
			font-size: 14px;
		}
	}
	.header__right{
		flex-grow: 1;
		justify-content: flex-end;
	}
	.header__contact{
		flex-grow: 1;
		text-align: center;
		font-size: 16px;
		margin-right: 0;
	}
	.main-screen{
		padding: 120px 0;
	}
	.main-screen .container{
		flex-direction: column;
	}
	.mobile{
		display: block;
	}
	.main-screen__descr{
		text-align: center;
		margin-bottom: 3em;
		.site-title{
			font-size: 16px;
			margin-bottom: 3em;
		}
		.site-title__top{
			font-size: 1.5em;
		}
	}
	.main-screen__features{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 -15px;
		li{
			width: 50%;
			flex-grow: 1;
			padding: 0 15px;
			margin-bottom: 40px;
		}
	}
	.main-screen__features__item{
		width: 100%;
		max-width: 340px;
		height: 150px;
		font-size: 2rem;
		margin: 0 auto;
	}
	.features__item__top{
		font-size: 1.125em;
		.h2{
			font-size: 2em;
		}
	}
	.features__item__descr{
		br{
			display: none;
		}
	}
	.btn-lg-container{
		padding: 80px 0 0 0;
		width: 100%;
		text-align: center;
		.btn{
			transform: translateX(15%);
		}
	}
	.btn{
		font-size: 18px;
		text-align: left;
	}
	.title{
		.h2{
			font-size: 36px;
		}
	}
	.subtitle{
		font-size: 18px;
	}
	.price-container{
		flex-direction: column;
		padding: 10px;
	}
	.price-tab-list,
	.tab-content-wrapper{
		width: 100%;
	}
	.price-tab-list{
		flex-direction: row;
		li{
			width: 25%;
			a{
				font-size: 14px;
				border-right: 1px solid rgba(255, 255, 255, 0.11);
				border-bottom: none;
				&::after{
					left: 50%;
					top: 100%;
					transform: translate(-50%, 0);
					border-left-color: transparent;
					border-top-color: #f6f6f7;
				}
			}
		}
		.hide-on-mobile{
			display: none;
		}
	}
	.price-table{
		font-size: 1.5rem;
	}
	.video__title{
		margin-left: 0;
		text-align: center;
		br{
			display: none;
		}
	}
	.video {
		height: 350px;
		background:transparent url('../img/bg/video-poster_tablet.jpg') left top no-repeat;
		background-size: cover;	
	}
	.video .container{
		align-items: flex-start;
		justify-content: center;
		padding-top: 50px;
	}
	.play{
		width: 160px;
		height: 160px;
		background-position: 60px 50px;
		right: auto;
		left: 50%;
		top: 60%;
		transform: translate(-50%, -50%);
	}
	.block-title{
		text-align: center;
		line-height: 1.4;
		padding-left: 0;
		.h2{
			font-size: 4em;
			br{
				display: none;
			}
		}
	}
	.block-subtitle{
		font-size: 2.7em;
	}
	.garantee {
		padding: 70px 0;
	}
	.garantee .block-title{
		margin-left: 0;
		margin-bottom: 25px;
	}
	.book{
		position: relative;
		left: 0;
		top: 0;
		text-align: center;
	}
	.book__descr{
		bottom: 0;
		width: 90%;
		max-width: 520px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		font-size: 16px;
		padding: 1em;
	}
	.book__descr__title,
	.book__descr__text{
		font-size: 1em;
	}
	.notebook{
		margin-top: 65px;
		justify-content: center;
	}
	.book__img{
		width: 100%;
		max-width: 400px;
	}
	.notebook__img{
		width: 100%;
		max-width: 700px;
	}
	.sale-block-container{
		padding-top: 20px;
	}
	.sale{
		background:transparent url('../img/bg/decor.jpg') left top no-repeat;
		background-size: cover;
	}
	.sale-block{
		padding: 0 20px;
		background: none;
	}
	.sale-block__item{
		max-width: 400px;
		text-align: center;
	}
	.features-section-list{
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 50px 0 20px;
		transform: translateX(-10px);
		li{
			width: 48%;
			margin-bottom: 40px;
		}
	}
	.features-section__top{
		height: 95px;
		padding-left: 60px;
		&::after{
			width: 95px;
			height: 94px;
			right: -50px;
		}
	}
	.features-section__top__text{
		font-size: 20px;
	}
	.features-section__top__count{
		width: 50px;
		height: 50px;
		font-size: 27px;
	}
	.features-section__text{
		font-size: 16px;
	}
	.features-section__ico{
		width: 90px;
		height: 90px;
	}
	.features-section-notice{
		max-width: none;
		width: calc(100% - 40px);
		padding: 20px;
		.h4{
			font-size: 20px;
		}
		.h5{
			font-size: 16px;
		}

	}
	.about-list li{
		width: 100%;
		&:nth-child(3){
			order: 4;
		}
		&:last-child{
			order: 3;
		}
	}
	.about__item{
		font-size: 16px;
	}
	.about-license{
		justify-content: space-around;
	}
	.license__item{
		width: 40%;
		font-size: 2rem;
		&--empty{
			display: none;
		}
		.line{
			display: none;
		}
	}
	.section-group{
		background-size: cover;
	}
	.review-row{
		flex-wrap: wrap;
		margin: 0 -10px 40px;
	}
	.more{
		font-size: 15px;
	}
	.review-body{
		width: 25%;
		padding: 0 10px;
		margin-bottom: 10px;
	}
	.review__item{
		background: none;
		height: 100%;
		
		& > img{
			width: 100%;
			height: 100%;
			object-fit: cover
		}
	}
	.blue-link, .address, .footer__phone, .webmaster{
		font-size: 12px;
	}
	.footer__left,
	.footer__right{
		width: 50%;
	}
	.footer__contact {
		flex-direction: column;
		align-items: flex-start;
	}
	.footer__phone{
		margin-left: 0;
		margin-top: 15px;
	}
	.footer__left .blue-link{
		margin-left: 3.5em;
	}
}
/*768*/
@media(max-width: 767px){
	.logo img,
	.main-screen__descr .h1::before,
	.btn .ico,
	.features-section-ico-wrapper{
		display: none;
	}
	.logo{
		width: 62px;
		height: 48px;
		background:transparent url('../img/logo_simple.png') left top no-repeat;
	}
	.header__contact{
		font-size: 14px;
		a{
			font-size: 1.2em;
		}
	}
	.menu-btn{
		margin-left: 20px;
	}
	.header{
		padding-top: 30px;
	}
	.h1{
		font-size: 30px;
	}
	.h2{
		font-size: 24px;
	}
	.btn-lg-container{
		padding-top: 0;
		margin-top: 40px;
		.btn{
			transform: translateX(0);
		}
	}
	.btn{
		padding: 1.5em 1em 1em;
		text-align: center;
	}
	.price-tab-list{
		overflow-x: auto;
		overflow-y: hidden;
		li{
			min-width: 140px;
			min-height: 5em;
			a{
				padding: 15px 10px;
				font-size: 13px;
			}
		}
	}
	.tab-content-wrapper{
		overflow-x: auto;
	}
	.price-table{
		font-size: 12px;
		min-width: 500px;
	}
	.sale-block__title, .form__title, .timer-container__title{
		font-size: 16px;
	}
	.form-content .input-wrapper, .form-content .btn{
		max-width: 90%
	}
	.input{
		height: 50px;
	}
	.features-section-list {
		padding-right: 40px;
		li{
			width: 100%;
			&:last-child{
				.features-section__text{
					margin-bottom: 30px;
				}
				.features-section-ico-wrapper{
					display: flex;
					transform: translateX(30px);
				}
			}
		}
	}
	.features-section__top{
		padding-left: 70px;
		padding-right: 50px;
		margin-bottom: 25px;
		background-image: none;
		background-color: #3fc0f0;
	}
	.features-section__top__text{
		font-size: 16px;
	}
	.features-section__text{
		height: auto;
		margin-bottom: 0;
	}
	.features-section-notice{
		width: 100%;
		border-radius: 0;
		border-right: none;
		border-left: none;
	}
	.features-section__top{
		position: relative;
		&::before{
			content: '';
			height: 100%;
			width: 95px;
			border-radius: 10px;
			background-color: #fff;
			transform: rotate(45deg);
			position: absolute;
			left: -50px;
			top: 0;

		}
	}
	.features-section__top::after{
		right: -46px;
	}
	.features-section-list{

	}
	.total .form__title{
		font-size: 20px;
	}
	.form__subtitle{
		font-size: 15px;
	}
	.footer{
		padding: 30px 0;
		.logo{
			width: auto;
			height: auto;
			background: none;
			margin-bottom: 15px;
			img{
				display: block;
				width: 140px;
				margin: 0 auto;
			}
		}
		.container{
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}
	.footer__left{
		margin-bottom: 30px;
	}
	.footer__left .blue-link{
		margin-left: 0;
	}
	.footer__contact{
		align-items: center;
	}
	.webmaster{
		padding-left: 0;
		display: block;
		position: relative;
		&::before{
			left: 50%;
			top: -15px;
			margin-left: -6px;
		}
	}
}
/*767*/ 
@media(max-width: 480px){
	.main-screen__features{
		margin: 0;
	}
	.main-screen__features li{
		width: 100%;
		padding: 0;
		margin-bottom: 18px;
	}
	.main-screen__features__item{
		font-size: 16px;
	}
	.container{
		padding: 0 10px;
	}
	.book__img{
		width: 90%;
	}
	.book__descr{
		font-size: 14px;
		padding: 1em .5em;
	}

	.about__item{
		font-size: 2rem;
	}
	.about__item__text{
		font-size: 1.4em;
	}
	.license__item{
		font-size: 2.5rem;
		text-align: center;
		padding-bottom: 1.5em;
		margin-bottom: 1.5em;
	}
	.total__descr__item{
		font-size: 12px;
	}
	.review-body{
		width: 50%;
	}
}
/*480*/ 

@media(max-width: 440px){
	.header__contact{
		display: none;
	}
	.h1{
		font-size: 24px;
	}
	.h2{
		font-size: 20px;
	}
	.main-screen__descr .h2{
		font-size: 16px;
		line-height: 1.4;
	}
	.btn{
		font-size: 16px;
		&--lt{
			font-size: 13px;
		}
	}
	.btn .text-top{
		margin-bottom: 5px;
	}

	.mobile-menu {
		.callback {
			.ico{
				margin-right: 20px;
			}
		}
	}
	.mobile-menu__top{
		font-size: 18px;
		padding: 30px 25px;
	}
	.mobile-menu .menu li a{
		font-size: 18px;
		padding: 1em 25px;
	}
	.mobile-menu .header__contact{
		font-size: 15px;
	}
	.play{
		width: 100px;
		height: 100px;
		background-position: 37px 30px;
	}
	.video{
		height: 350px;
		background:transparent url('../img/bg/video-poster_mobile.jpg') left 100% no-repeat;
		background-size: cover;
	}
	.block-title .h2{
		font-size: 24px;
	}
	.block-subtitle{
		font-size: 20px;
	}
	.agree label{
		font-size: 10px;
	}
	.total .block-title{
		margin-bottom: 40px;
	}
	.total .subtitle{
		margin-left: auto;
		margin-top: 1em;
		font-size: 16px;
		width: 100%;
	}

}
/*440*/ 

@media(max-width: 360px){
	.main-screen__features__item::before{
		display: none;
	}
	.main-screen__features__item{
		padding: 10px 10px 10px 30px;
	}
	.btn,
	.mobile-menu .callback{
		font-size: 14px;
	}
	.book__img{
		margin-bottom: 20px;
	}
	.book__descr{
		font-size: 12px;
	}
	.features-section__top{
		background-position: 100% center;
		background-size: contain;
		padding-right: 25px;
	}
	.about__item{
		font-size: 2.4rem;
	}
	.total__descr__item{
		font-size: 12px;
		background-image: none;
		width: 100%;
		text-align: center;
		&::before{
			display: none;
		}
		&::after{
			content: '';
			width: 50px;
			height: 50px;
			background:transparent url('../img/icons/check_blue.svg') left top no-repeat;
			background-size: contain;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
