/*popup*/ 
.popup{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	opacity: 0;
	visibility: hidden;
	width: 90%;
	max-width: 565px;
	zoom: 1.05;
	transition: all .3s;
	z-index: 25;
	&.active{
		transform: translate(-50%, -50%);
		opacity: 1;
		visibility: visible;
	}
	.form-content::after,
	.form-content::before{
		background-color: rgba(#fff, .2);
	}
	.form-content .input-wrapper, .form-content .btn{
		max-width: 85%
	}
}
.close-popup{
	position: absolute;
	right: 0;
	top: 0;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: var(--blue);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translate(50%, -50%);
	cursor: pointer;
	transition: all .3s;
	&:hover{
		background-color: var(--green);
	}
	svg{
		width: 17px;
		height: 17px;
	}
}
.submit{
	display: block;
	width: 95%;
	max-width: 412px;
	height: 67px;
	text-align: center;
	background:var(--green-gradient);
	color: #fff;
	font-family: var(--pfbeausans);
	border-radius: 5px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 auto 50px;
	border-bottom: 5px solid #207d4a;
	transition: all .3s;
	box-shadow: 0 6px 20px -4px rgba(#000, .3);
	&:hover{
		background: var(--blue-gradient);
		border-bottom-color: #2d6183;
	}
	span{
		display: block;
		transform: translateY(4px);
	}
}
.popup__title{
	height: 105px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 24px;
	line-height: 1.4;
	font-weight: 700;
	border-bottom: 2px dashed rgba(#222431, .32);
	margin-bottom: 55px;
}