/*popup*/ 
.popup{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	opacity: 0;
	visibility: hidden;
	width: 90%;
	max-width: 565px;
	zoom: 1.05;
	transition: all .3s;
	z-index: 25;
	&.active{
		transform: translate(-50%, -50%);
		opacity: 1;
		visibility: visible;
	}
	.form-content::after,
	.form-content::before{
		background-color: rgba(#fff, .2);
	}
	.form-content .input-wrapper, .form-content .btn{
		max-width: 85%
	}
}
.close-popup{
	position: absolute;
	right: 0;
	top: 0;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: var(--blue);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translate(50%, -50%);
	cursor: pointer;
	transition: all .3s;
	&:hover{
		background-color: var(--green);
	}
	svg{
		width: 17px;
		height: 17px;
	}
}
.submit{
	display: block;
	width: 95%;
	max-width: 412px;
	height: 67px;
	text-align: center;
	background:var(--green-gradient);
	color: #fff;
	font-family: var(--pfbeausans);
	border-radius: 5px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 auto 50px;
	border-bottom: 5px solid #207d4a;
	transition: all .3s;
	box-shadow: 0 6px 20px -4px rgba(#000, .3);
	&:hover{
		background: var(--blue-gradient);
		border-bottom-color: #2d6183;
	}
	span{
		display: block;
		transform: translateY(4px);
	}
}
.popup__title{
	height: 105px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 24px;
	line-height: 1.4;
	font-weight: 700;
	border-bottom: 2px dashed rgba(#222431, .32);
	margin-bottom: 55px;
}
.thanks{
	position: fixed;
	width: 90%;
	max-width: 820px;
	font-family: var(--pfbeausans-book);
	top: 50%;
	left: 50%;
	transform: translate(-50%, 100%);
	opacity: 0;
	visibility: hidden;
	font-size: 1.5rem;
	line-height: 1.6;
	padding: 1.1em 1.4em;
	display: flex;
	align-items: center;
	background:#fff url('../img/bg/form-bg.jpg') left top no-repeat;
	background-size: cover;
	border-radius: 5px;
	transition: all .3s;
	z-index: -1;
	&.active{
		transform: translate(-50%, -50%);
		opacity: 1;
		visibility: visible;
		z-index: 25;
	}
	.ico{
		flex: none;
		width: 4.8em;
		height: 4.8em;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		background-color: var(--green);
		margin-right: 1.4em;
		svg{
			width: 36px;
			height: 36px;
		}
	}
}

.main-popup{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	transform: translateX(100%);
	visibility: hidden;
	z-index: 30;
	background-color: #fff;
	transition: all .3s;
	&.active{
		visibility: visible;
		transform: translateX(0);
		.book-lg{
			animation: scale2 ease-in-out .3s;
			animation-fill-mode: forwards;
			animation-delay: .3s;
		}
	}
	.close-popup{
		top: 15px;
		right: 15px;
		transform: translate(0, 0);
	}
}
.main-popup__img,
.main-popup__content{
	width: 50%;
}
.main-popup__img{
	position: relative;
	background:transparent url('../img/bg/main-popup-bg.jpg') left top no-repeat;
	background-size: cover;
}
.book-lg{
	max-width: none;
	position: absolute;
	width: 65em;
	bottom: 0;
	right: -20em;
	transform: scale(0);
	transition: all .4s;
	z-index: 10;
}
.main-popup__content{
	background:transparent url('../img/bg/first-screen.jpg') left top no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.h5{
		display: block;
		font-size: 1.125rem;
		font-weight: 700;
		margin-top: .5em;
	}
	.form-content{
		padding-top: 3em;
	}
}
.main-popup__content__descr{
	.h4{
		margin-bottom: 1em;
	}

}
.list{
	font-size: 1rem;
	li{
		position: relative;
		padding-left: 2em;
		margin-bottom: 1.5em;
		&::before{
			content: '';
			width: 1em;
			height: 1em;
			background:transparent url('../img/icons/check-green.svg') left top no-repeat;
			background-size: contain;
			position: absolute;
			left: 0;
			top: -.1em;
		}
	}
}

.policy-popup{
	position: fixed;
	width: 80%;
	height: 100vh;
	max-height: 80vh;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	overflow-y: auto;
	z-index: 30;
	background-color: #fff;
	padding: 50px 0;
	display: none;
	&.active{
		display: block;
	}
	.close{
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
	}
}
.policy-text{
	font-size: 16px;
	line-height: 1.5;
	.h2{
		font-size: 36px;
		margin-bottom: 1em;
	}
	p{
		margin-bottom: 1em;
	}
	a{
		color: var(--blue);
		&:hover{
			text-decoration: underline;
		}
	}
}

@keyframes scale2{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}











