/*video*/ 
.video{
	background:transparent url('../img/bg/video-poster.png') 100% top no-repeat;
	background-size: cover;
	height: 42.25em;
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
	.container{
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;
	}
	.man{
		position: absolute;
		bottom: 0;
		left: 0;
		height: 43.5em;
		transition: all .3s;
		&.hide{
			opacity: 0;
		}
	}
}
.video__title{
	font-weight: 700;
	line-height: 1.3;
	margin-left: 5.625em;
	position: relative;
	z-index: 1;
}
.play{
	display: block;
	width: 12.5em;
	height: 12.5em;
	border-radius: 50%;
	background: #3fc0f0 url('../img/icons/play.svg') 5em 4em no-repeat;
	background-size: 35%;
	position: absolute;
	top: 50%;
	right: 37.5em;
	transform: translate(0, -50%);
	&::before,
	&::after{
		content: '';
		width: 100%;
		height: 100%;
		border-radius: 50%;
		position: absolute;
		left: 0;
		top: 0;
		border: 1px solid #3fc0f0;
		animation: scale infinite 3s;
	}
	&::after{
		animation-delay: .4s;
	}
}
.video-popup{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	z-index: 3;
	&.active{
		opacity: 1;
		visibility: visible;
	}
}

@keyframes scale{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(1.4);
		opacity: 0;
	}
}